* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	&::-webkit-scrollbar {
		display: none;
	}

	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

html {
	overflow-y: auto;
	overflow-x: hidden;
	scroll-behavior: smooth;
	font-size: 20px;
}

body {
	position: relative;
	width: 100%;
	overflow-x: hidden;
	margin: auto;
	max-width: $width-max;
	font-family: $main-font;
	background: $main-dark;
	color: $main-light;
}

a {
	color: inherit;
	text-decoration: none;

	&:hover {
		cursor: pointer;
	}
}

ul {
	list-style: none;
}

button {
	padding: 8px 10px;
	border: none;
	font-weight: 700;
	font-size: 0.55rem;
	font-family: $main-font;
	color: $main-dark;
	background-color: $main-light;

	&:hover {
		cursor: pointer;
	}
}

@media only screen and (min-width: 700px) {
	button {
		padding: 10px 20px;
		border: none;
		font-size: 0.65rem;
	}
}
