@mixin mid-flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

.page {
	padding: $body-padding-narrow;
	min-height: 100vh;
}

.button-secondary {
	background-color: transparent;
	border: 1px solid $main-light;
	color: $main-light;
	font-weight: 500;
}

@media only screen and (min-width: 700px) {
	.page {
		padding: $body-padding-wide;
		height: 100vh;
		min-height: 700px;
	}

	.button-secondary {
		background-color: transparent;
		border: 1px solid $main-light;
		color: $main-light;
	}
}
