@mixin mid-flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

.page {
	padding: $body-padding-narrow;
	// height: 100vh;
	min-height: 750px;
}

.button-secondary {
	background-color: transparent;
	border: 1px solid $main-light;
	color: $main-light;
	font-weight: 500;
}

@media only screen and (min-width: 700px) {
	.page {
		padding: $body-padding-wide;
		height: 100vh;
	}

	.page-tall {
		height: auto;
	}

	.button-secondary {
		background-color: transparent;
		border: 1px solid $main-light;
		color: $main-light;
	}
}

@media only screen and (min-width: 1000px) {
	.page-tall {
		height: 100vh;
	}
}
// @media only screen and (min-width: 800px) {
// 	.page {
// 		height: 100vh;
// 		min-height: 100%;
// 	}
// }
