$main-dark: #18191e;
$main-light: #dddddd;
$darken-light: darken($main-light, 20);
$main-font: "Work Sans", Helvetica, Arial, sans-serif;
$body-padding-narrow: 0 20px;
$body-padding-wide: 0 50px;
$header-height: 100px;
$width-max: 1440px;
